<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.intimate"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17"/>

    <uses-feature android:name="android.hardware.camera"/>
    <!-- Camera shots -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Google Analytics -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Contact lists -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:name="com.intimate.App">
        <activity
                android:name="com.intimate.ui.MainActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".ui.CreateInteractionActivity"
                android:label="@string/title_activity_photo_taker">
        </activity>
        <activity
                android:name=".ui.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
        <activity
                android:name=".ui.LaunchActivity"
                android:label="@string/app_name"
                android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
